
body{
  color: #B1B9C1;
  font-size: 1em;
  font-weight: 200;
  font-family: 'Roboto', Helvetica, Arial, serif;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

a {
  color: #5FB6E1;
  text-decoration: none;
}

a:hover {
  color: #53A4C4;
}

img {
  width: 100%;
}

ul li {
  list-style-type: none;
}

.row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}


/*Typography*/
p {
  margin-bottom: 40px;
}
h1, h2 {
  font-weight: 400;
  width: 100%;
}
h2 {
  font-size: 42px;
  color: #465058;
  margin: 40px 0 0;
}
h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 40px 0 0;
  color: #465058;
}
h4 {
  font-weight: 200;
  font-size: 24px;
  margin: 10px 0 0;
}
h5 {
  font-weight: 300;
  font-size: 20px;
  margin: 10px 0 40px;
}

/*header*/
header h1 {
  color: red;
}


/*Slides*/
.slides {
  width: 100%;
  height: 100%;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
}
.slide-wrap {
  flex: 15% 1;
  margin: 3%;
}
.slide-wrap h2 {
  margin: 25% 0 20px;
  color: #ccc;
}
.slide-wrap p {
  width: 60%;
  margin: 0 20% 40px;
  font-size: 26px;
  color: #ccc;
}



/*Footer*/
footer {
  margin: 80px 0;
  float: left;
  width: 100%;
}

/*Media Queries*/
@media (min-width: 768px) {

}

@media (max-width: 1024px) {

}






















